* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cookie-container {
  background: linear-gradient(260deg, #9b6c50 0%, #4f2626 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:25rem;
  height: 10rem;
  color:white;
  display: flex;
  border-radius: 1.2rem;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
}

.cookie {
  margin-left: 1rem;
  transform: scale(0.6);
  overflow: visible;
}

.text {
  width: 60%;
}

.cookie-title {
  font-size: 1rem;
  font-weight: 600;
}

.cookie-subtitle {
  font-size: 0.8rem;
  padding: 0.5rem 0;
  font-weight: 400;
}

button {
  border: none;
  border-radius: 0.3rem;
  color: #4f2626;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}